* {
font-family:sans-serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
border:0;
}

html,body {
	width: 100%;
    min-height: 100%;
	padding: 0;
	margin: 0;
background: white; /* Old browsers */
	cursor: default;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
}
#primerGlobal{
    min-height: 100%;
}
#global {
  width: 980px;
  height: 1100px;
  margin: 0 auto 0 auto;
 padding-bottom: 60px;
    min-height: 100%;
}
#cabecera{
  display: block;
  left: 0;
  top: 0;
  min-width:100%;
  max-height: 100%;
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 33%, #65b6ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(33%,#ddf1f9), color-stop(100%,#65b6ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* IE10+ */
background: linear-gradient(to right, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#65b6ee',GradientType=1 ); /* IE6-9 */
  position: absolute;
  float: none;
  z-index:9999;
}
header {
  display: block;
  padding: 0;
  width: 100%;
  height: 60px;
  border-bottom: 4px solid #699fc6;
  box-shadow:0 1px 1px #699fc6;
}
#headerCenter {
  display: block;
  position: static;
  width: 980px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}
nav{
  display: block;
  padding: 0;
  width: 100%;
  height: 30px;
  background-color: #699fc6;
  border-bottom: 4px solid #699fc6;
  box-shadow:0 2px 10px #699fc6;
}
#navCenter {
  display: block;
  position: static;
  width: 980px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}
/*Menu Horizontal*/
nav ul{
    list-style: none; /* Eliminamos el puntito negro */
    display: block;
    margin: 0 auto 0 auto;
    height: 100%;
    width:  900px;
    }
 
nav ul li{
    float: left; /* Alineamos los botones del menú */
    border-right: 2px solid #438cdb;
    padding: 0 20px 0 20px;
    line-height: 30px;
}

nav li .flecha{
font-size: 13px;
padding-left: 6px;
}
nav ul li a, nav ul li a:link{
    text-decoration: none;
    font-size: 18px; /* Tamaño del texto del menú */
    color: white; /* Color del texto */
    cursor: pointer;
    font-weight: bold;
}
nav ul li a:hover{
    font-weight: bold;
    color: #438cdb; /* Cambiamos color de texto */
    transition: all 0.2s linear; /* Comienzan las transiciones CSS3 */
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear; 
    -o-transition: all 0.2s linear;
}


#logo {
  font-size: 30px;
  font-weight: bold;
  float: left;
  position: relative;
  margin-left: 11.5px;
  line-height: 50px;
  vertical-align: middle;
  text-shadow: -1px 2px 2px black;
}
#main{
    position: relative;
    top: 134px;
    display: block;
    width: 100%;
    height: 946px
}


footer {
  margin-top: -60px; /* negative value of footer height */
  min-width: 100%;
  height: 60px;
  display: block;
  float: none;
  background: #feffff; /* Old browsers */
background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 33%, #65b6ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#feffff), color-stop(33%,#ddf1f9), color-stop(100%,#65b6ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* IE10+ */
background: linear-gradient(to right, #feffff 0%,#ddf1f9 33%,#65b6ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#65b6ee',GradientType=1 ); /* IE6-9 */
  clear:both;
  position: absolute;
  max-height: 100%;
}
div#footerCenter {
  display: block;
  width: 980px;
  min-height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#primerGlobal {display:table;height:100%}
	</style>
<![endif]-->

*/



